{% extends "doc_base.html" %}

{% block title %}
Site Statement
{% endblock title %}

{% block content %}
<div class="wfull flex row j-center">
  <div class="flex column a-stretch w450px bg-m-lt-2">
    <div class="flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="pt15px pb15px">Author/Editor:</p>
      </div>
      <p class="pl25px pr25px pt5px pb5px">Ian Kirkpatrick</p>
    </div>
    <div class="pt25px flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="bg-m-dk pt15px pb15px">Mission:</p>
      </div>
      <p class="pl25px pr25px pt5px">This website is designed to make life easier for Cru team members who
      are working on technology for the Thursday night meetings. The focus of
      this project is organization for Cru team members.</p>
    </div>
    <div class="pt25px flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="bg-m-dk pt15px pb15px">Problem Addressed by Site:</p>
      </div>
      <p class="pl25px pr25px pt5px pb5px">
        After speaking with staff in Cru about different equipment needed for sound,
        media, band and other such things, I have decided that a centralized area for
        organizing wishlists for different departments of Cru would be very beneficial.
      </p>
      <p class="pl25px pr25px pt15px">
        While thinking about ways I could do this, I also realized that there are other
        needs that could be solved by a centralized web server. There is already a web
        app that I created that deals with <a href="https://github.com/ianbro/cru_inventory">inventory</a>
        but I thought of other things as well. This website will help to keep the tech
        team in cru organized and provide easy ways to do some different tasks.
      </p>
    </div>
    <div class="pt25px flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="bg-m-dk pt15px pb15px">Framework:</p>
      </div>
      <p class="pl25px pr25px pt5px">Django 1.11</p>
    </div>
    <div class="pt25px flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="bg-m-dk pt15px pb15px">Tools:</p>
      </div>
      <div class="pl25px pr25px pt5px">
        <div class="pb5px flex j-center">
          <span class="pr5px">Language/Compiler:</span>
          <span>Python 2.7.12</span>
        </div>
        <div class="pb5px flex j-center">
          <span class="pr5px">Deployment:</span>
          <span><a href="https://www.pythonanywhere.com/">Python Anywhere</a></span>
        </div>
        <div class="flex j-center">
          <span class="pr5px">Editor:</span>
          <span>Atom 1.9.9</span>
        </div>
      </div>
    </div>
    <div class="pt25px pb25px flex column a-center">
      <div class="bg-m-dk flex column a-center wfull">
        <p class="bg-m-dk pt15px pb15px">Documentation:</p>
      </div>
      <div class="pl25px pr25px pt5px">
        <div class="pb5px flex j-center">
          <a href="https://www.djangoproject.com/">Django Documentation</a>
        </div>
        <div class="pb5px flex j-center">
          <a href="https://help.pythonanywhere.com/pages/FollowingTheDjangoTutorial/">Python Anywhere</a>
        </div>
        <div class="flex j-center">
          <a href="https://github.com/ianbro/ezi">EZI</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
