{% extends 'base.html' %}
{% load core %}
{% load static %}

{% block title %}
Wishlist Details
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/wishlist/wishlist_detail.js' %}"></script>
{% endblock %}

{% block content %}
<div class="flex row j-center">
  <div id="wishlist_display" class="flex row j-center p0px m0px">

    <!-- Wishlist List Display -->
    <div class="js-wishlist-container list-container bg-gry-lt"
          data-pk="{{ object.pk }}">

      <div id="wishlist_header" class="bg-m-lt list-header-container">
        <h3 class="txt-gry-lt">{{ object.name }} Wishlist</h3>
      </div>

      <div class="js-list-add-button list-item brdr-btm-gray bg-gry-lt p15px">
        <p>Add item request.</p>
      </div>

      <div id="wishlist_content" class="js-list-content list-content-container" style="height: 394.91px">
        {% for item in object.itemrequest_set.all %}
        {% include "wishlist/modules/item_request.html" with item=item %}
        {% endfor %}
      </div>

    </div>





    <div id="item_request_details" class="js-item-details-component list-container bg-gry-lt">

      <div id="wishlist_header" class="bg-m-lt list-header-container list-header-container--details">
        <p class="txt-gry-lt p15px">No item selected.</p>
      </div>

      <div id="wishlist_content" class="list-content-container">

      </div>
    </div>
  </div>
</div>
{% endblock %}
