* {
  font-family: Helvetica;
}

body {
  position: relative;
  min-height: 100%;
  padding: 0;
  margin: 0px;
}

#header_container {
  height: 350px;
  box-shadow: 0px 5px 5px gray;
}

#body_container {
  padding-bottom: 100px; /*Height of footer (#footer_container). These should match.*/
}

#footer_container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 70px; /* plus 30 for padding top and bottom*/
}

#doc_main_content {
  width: 450px;
}

.list-container.list-layout-list {
  width: 300px;
  height: 500px;
  margin: 25px 15px 25px 15px;
  box-shadow: 5px 5px 5px gray;
}

.list-header-container {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-header-container--details {
  display: block;
}

.list-content-container {
  overflow-y: scroll;
}

.button-list-add--small {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-link {
  width: 240px;
}

.list-container.list-layout-grid {
  display: flex;
  justify-content: center;
}

.list-layout-grid > .list-item {
  background-color: var(--main-color-dark);
  cursor: pointer;
}

.list-layout-grid > a.list-item {
  text-decoration: none;
}

.list-layout-grid > .list-item:hover {
  background-color: var(--main-color-light);
}
