{% load staticfiles %}
<html class="bg-m-lt">
  <head>
    <title>Techno Cru | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
  </head>
  <body>
    <div id="header_container" class="bg-m-dk flex j-center pt25px">
      <div>
        <h1>Techno Cru</h1>
      </div>
    </div>
    <div class="p15px hfull">
    {% block content %}
    {% endblock content %}
    </div>
  </body>
</html>
