<!-- HTML that shows the form used to create an
ItemRequest in the detailed display for an ItemRequest. -->
<div id="wishlist_header" class="bg-m-lt list-header-container list-header-container">
  <h3 class="txt-gry-lt">Request Item:</h3>
</div>

<div class="js-details-container list-content-container ps15px pt5px pb5px scroll-y" style="height: 435px;">
  <form class="js-submit-item-add-form">
    <div class="pb5px flex j-spc-btwn">
      <label for="{{ item_form.name.id_for_label }}">Item Name:</label>
      {{ item_form.name }}
    </div>
    <div class="pb5px flex j-spc-btwn">
      <label for="{{ item_form.quantity.id_for_label }}">Quantity:</label>
      {{ item_form.quantity }}
    </div>
    <div class="pb5px flex j-spc-btwn">
      <label for="{{ item_form.description.id_for_label }}">Description:</label>
      {{ item_form.description }}
    </div>
    <div class="pb5px">
      <label for="{{ item_form.notes.id_for_label }}">Extra Notes:</label>
      {{ item_form.notes }}
    </div>
    <div class="js-order-link-widget" meta-online-order-links-delimiter="{{ online_order_links_delimiter }}">
      <label for="{{ item_form.online_order_links.id_for_label }}">Links to Buy From:</label>
      <div class="js-order-link-widget-actual display-none">{{ item_form.online_order_links }}</div>
      <div class="js-order-link-widget-control flex column pt5px">
        <!-- Link templates from botton of this template go here. -->
      </div>
    </div>
    <div class="pb5px flex j-spc-btwn">
      <label for="{{ item_form.priority.id_for_label }}">Item Priority:</label>
      {{ item_form.priority }}
    </div>
    <div class="pb5px flex j-spc-btwn">
      <label for="{{ item_form.needed.id_for_label }}">Is this Item Needed?</label>
      {{ item_form.needed }}
    </div>
    <div>
      <div class="js-add-itemrequest-submit bg-m-lt-2 txt-blk button">Submit</div>
    </div>
  </form>
</div>

<div class="js-order-link-group--template js-order-link-group flex row j-spc-btwn pb5px display-none">
  <input class="js-order-link-input js-for-editing input-link" placeholder="https://linktoproduct.com"></input>
  <a class="js-order-link-display js-for-display display-none">newlink</a>
  <div class="js-order-link-add-btn js-for-editing button-list-add--small bg-m-lt-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="#000000" height="24" viewBox="0 0 24 24" width="24">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
    </svg>
  </div>
</div>
