<!-- HTML that shows the in depth details of an
ItemRequest in the detailed display for an ItemRequest. -->
<div id="wishlist_header" class="bg-m-lt list-header-container list-header-container--details">
  {% if item %}
  <div class="flex row j-spc-btwn ps15px pt5px txt-gry-lt">
    <p>{{ item.name }}</p>
    <p>Priority: {{ item.priority }}</p>
  </div>
  <div class="flex row j-spc-btwn ps15px pt5px pb5px txt-gry-lt">
    <p>Requested by:</p>
    <p>{{ item.requested_by.full_name }}</p>
  </div>
  {% else %}
  <p class="txt-gry-lt p15px">No item selected.</p>
  {% endif %}
</div>

<div class="js-details-container bg-gry-lt list-content-container" style="height: 445px;">
  {% if item %}
  <div class="details-container-main flex column ps15px brdr-btm-gray">
    <p class="mt5px flex">
      {{ item.description }}
    </p>
    <p class="mt5px flex">
      {{ item.notes }}
    </p>
    <p class="mt5px mb5px flex">
      {% if item.needed %}
      This is needed.
      {% else %}
      This is not necessarily needed.
      {% endif %}
    </p>
  </div>

  <div class="details-container-links flex column ps15px pb5px brdr-btm-gray">
    <p class="mt5px">
      Buy {{ item.quantity }} at
    </p>
    {% for link in item.order_links_list %}
    <a href="{{ link }}" class="mt5px">
      {{ link|slice:":30" }}
      {% if link|length > 30 %}
      ...
      {% endif %}
    </a>
    {% endfor %}
  </div>

  <div class="details-container-records flex column ps15px js-widget-item-records">
    <div class="flex row j-spc-btwn">
      <p class="mt5px txt-bold">Actions:</p>
      <div class="js-item-record-btn-show-add-form pointer">
        <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </div>
    </div>
    <div class="js-form-add-record flex column display-none">
      <p class="m0px p0px" style="font-size: 12px;">Add a new action here:</p>
      <div class="flex column">
        <div class="flex row j-spc-btwn mt5px mb5px">
          <select class="js-item-record-type">
            {% for type_val, type_display in record_form.record_types.items %}
            <option value="{{ type_val }}">{{ type_display }}</option>
            {% endfor %}
          </select>
          <input class="js-item-record-cost" type="number" placeholder="Cost of Purchase"></input>
        </div>
        <textarea rows="10" class="js-item-record-notes" placeholder="Extra Notes"></textarea>
      </div>
      <div class="flex row mt5px">
        <button class="js-item-record-submit p5px">Add Record</button>
      </div>
    </div>
    {% for record in item.itemrecord_set.all %}
    <p class="mt5px mb5px">
      <span class="txt-udrln">{{ record.nice_item_type }}:</span>
      <span>
        {{ record.reported_by.full_name }}
      </span>
      <span>
        {{ record.message }}
      </span>
      on
      <span>
        {{ record.date_reported }}
      </span>
    </p>
    {% endfor %}
  </div>
  {% endif %}
</div>
