{% load staticfiles %}
<html class="bg-gry-lt-2">
  <head>
    <title>Techno Cru | {% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'utilities.css' %}" />
    <link rel="stylesheet" href="{% static 'base.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    {% block javascript %}
    {% endblock %}
  </head>
  <body>
    <div id="header_container"
         class="flex j-center a-center txt-blk"
         style="background-image: url('{% static 'images/abstract_blue_green.jpg' %}'); background-size: cover;">
      <div class="pointer" onclick="window.location = '{% url 'wishlist:list' %}'">
        <h1 class="fnt-48 txt-gry-lt">Techno Cru</h1>
      </div>
    </div>
    <div id="body_container">
    {% block content %}
    {% endblock content %}
    </div>
    <div id="footer_container" class="bg-m-dk-2 p15px flex row j-start a-end">
      <div>
        <p class="txt-gry-lt">
          {{ settings.CRU_INFO.LOCAL_NAME }} | <a class="txt-gry-lt" href="{{ settings.CRU_INFO.GLOBAL_WEBSITE }}">Cru Website</a>
        </p>
      </div>
    </div>
  </body>
</html>
